
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >Testing</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a >Меню.</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </div>

  <div class="container">  
    <h1> Проверка вероятностей. </h1>

    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Кол-во вариантов</label>
          <input type="text" class="form-control" [(ngModel)]="ammount" name="ammount">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Кол-во попыток</label>
          <input type="text" class="form-control" [(ngModel)]="total" name="total">
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="ischange" name="ischange">
            Менять выбор?
          </label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="start()">Прогнать тест</button>

  

      </form>
    </div>
    <div class="col-md-6">
      <h3> Всего:  {{total}}</h3>
      <h3> Кол-во вариантов:  {{ammount}}</h3>
      <h3> Меняется выбор?:  {{ischange}}</h3>
      <h3> Угадано: {{ win }}</h3>
      <h3> Неугадано: {{ loss }}</h3>
      
    </div>

  </div>