

<H2>BET : {{ bet }}</H2>

<H2>PLAYING WIN : {{ win }}</H2>

<H2>Account : {{ account }}</H2>

<div>
  <card *ngFor="let c of current_set" [card]='c' (eventClick) = "selectCard(c)"></card>
</div>



<div>
  <button [disabled]="!isValidSelection()" (click)='changeCards()'  class="btn"> Change </button>
  <button [disabled]="!isStartPossible()" (click)='start()'  class="btn"> Start </button>


  <button [disabled]="!isBetUpPossible && is_active_game" (click)='betUp()'  class="btn"> Bet up </button>
  <button [disabled]="!isBetDownPossible && is_active_game" (click)='betDown()'  class="btn"> Bet down </button>
  <button [disabled]="!canTake()" (click)='takeMoney()'  class="btn"> Take money </button>

</div>


<!--
<div>
  <img *ngFor="let c of current_deck.cards" src="{{c.image}}" />
</div>
-->